/* Closing section */
#closer{
  padding-top:2rem;
  margin: 0 auto 0 auto;
  text-align:center;
  background-color: #8D8741;
}

#closer > * {
  background-color:#8D8741;
}

#closer h1{
  color:#FBEEC1;
  font-size: 5vh;
}

#closer p{
  color:#FBEEC1;
  font-family:'Courier New', Courier, monospace;
  font-size: 1vw;
  text-align:center;
}

.socials-links {
  width:50%;
  display:flex;
  justify-content: space-around;
  margin: 2rem auto 2rem auto;
}

.socials{
    /* margin: 0 auto 0 auto; */
    color:#FBEEC1;
}

.socials i{
  background-color: #8D8741;
}

.copyright{
  margin :0;
}

